.seksjon {
	color: blue;
	background-color: grey;
	margin-left: auto;
	margin-right: auto;
	font-size: 7vw;
	position: relative;
	width: 30%;
}


.title1 {
	font-size: 20px;
}

.title2 {
	font-size: 20pt;
}
.title3 {
	font-size: 70%;
}
.title4 {
	font-size: 10vw;
}
.title5 {
	font-size: 2em;
}



@media screen and (max-width: 800px) {
	.seksjon {
		width: 100%;
		/*padding: 3px;*/
	}
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
	.seksjon {
		width: 80%;
	}
}

@media screen and (min-width: 1024px) {
	.seksjon {
		width: 30%;
	}
}





